
*.mti
*.mti
*.mpf
modelsim/transcript
modelsim/transcript
modelsim/transcript
modelsim/vish_stacktrace.vstf
modelsim/vsim.wlf
modelsim/work/_info
modelsim/work/_lib.qdb
modelsim/work/_lib1_0.qdb
modelsim/work/_lib1_0.qpg
modelsim/transcript
modelsim/vish_stacktrace.vstf
modelsim/vsim.wlf
modelsim/work/_info
modelsim/work/_lib.qdb
modelsim/work/_lib1_0.qdb
modelsim/work/_lib1_0.qpg
modelsim/work/_lib1_0.qtl
modelsim/work/_lib1_1.qdb
modelsim/work/_lib1_1.qpg
modelsim/work/_lib1_1.qtl
modelsim/work/_lib1_11.qdb
modelsim/work/_lib1_11.qpg
modelsim/work/_lib1_11.qtl
modelsim/work/_lib1_12.qdb
modelsim/work/_lib1_12.qpg
modelsim/work/_lib1_12.qtl
modelsim/work/_lib1_2.qdb
modelsim/work/_lib1_2.qpg
modelsim/work/_lib1_2.qtl
modelsim/work/_lib1_4.qpg
modelsim/work/_lib1_4.qtl
modelsim/work/_lib1_8.qdb
modelsim/work/_lib1_8.qpg
modelsim/work/_lib1_8.qtl
modelsim/work/_vmake
quartus/acelerometro.qpf
quartus/acelerometro.qsf
quartus/acelerometro.qws
quartus/acelerometro.sdc
quartus/db/.cmp.kpt
quartus/db/acelerometro.(0).cnf.cdb
quartus/db/acelerometro.(0).cnf.hdb
quartus/db/acelerometro.(1).cnf.cdb
quartus/db/acelerometro.(1).cnf.hdb
quartus/db/acelerometro.(10).cnf.cdb
quartus/db/acelerometro.(10).cnf.hdb
quartus/db/acelerometro.(11).cnf.cdb
quartus/db/acelerometro.(11).cnf.hdb
quartus/db/acelerometro.(12).cnf.cdb
quartus/db/acelerometro.(12).cnf.hdb
quartus/db/acelerometro.(13).cnf.cdb
quartus/db/acelerometro.(13).cnf.hdb
quartus/db/acelerometro.(14).cnf.cdb
quartus/db/acelerometro.(14).cnf.hdb
quartus/db/acelerometro.(15).cnf.cdb
quartus/db/acelerometro.(15).cnf.hdb
quartus/db/acelerometro.(2).cnf.cdb
quartus/db/acelerometro.(2).cnf.hdb
quartus/db/acelerometro.(3).cnf.cdb
quartus/db/acelerometro.(3).cnf.hdb
quartus/db/acelerometro.(4).cnf.cdb
quartus/db/acelerometro.(4).cnf.hdb
quartus/db/acelerometro.(5).cnf.cdb
quartus/db/acelerometro.(5).cnf.hdb
quartus/db/acelerometro.(6).cnf.cdb
quartus/db/acelerometro.(6).cnf.hdb
quartus/db/acelerometro.(7).cnf.cdb
quartus/db/acelerometro.(7).cnf.hdb
quartus/db/acelerometro.(8).cnf.cdb
quartus/db/acelerometro.(8).cnf.hdb
quartus/db/acelerometro.(9).cnf.cdb
quartus/db/acelerometro.(9).cnf.hdb
quartus/db/acelerometro.asm.qmsg
quartus/db/acelerometro.asm.rdb
quartus/db/acelerometro.asm_labs.ddb
quartus/db/acelerometro.cmp.bpm
quartus/db/acelerometro.cmp.cdb
quartus/db/acelerometro.cmp.hdb
quartus/db/acelerometro.cmp.idb
quartus/db/acelerometro.cmp.logdb
quartus/db/acelerometro.cmp.rdb
quartus/db/acelerometro.cmp_merge.kpt
quartus/db/acelerometro.db_info
quartus/db/acelerometro.eda.qmsg
quartus/db/acelerometro.fit.qmsg
quartus/db/acelerometro.hier_info
quartus/db/acelerometro.hif
quartus/db/acelerometro.lpc.html
quartus/db/acelerometro.lpc.rdb
quartus/db/acelerometro.lpc.txt
quartus/db/acelerometro.map.ammdb
quartus/db/acelerometro.map.bpm
quartus/db/acelerometro.map.cdb
quartus/db/acelerometro.map.hdb
quartus/db/acelerometro.map.kpt
quartus/db/acelerometro.map.logdb
quartus/db/acelerometro.map.qmsg
quartus/db/acelerometro.map.rdb
quartus/db/acelerometro.map_bb.cdb
quartus/db/acelerometro.map_bb.hdb
quartus/db/acelerometro.map_bb.logdb
quartus/db/acelerometro.pplq.rdb
quartus/db/acelerometro.pre_map.hdb
quartus/db/acelerometro.root_partition.map.reg_db.cdb
quartus/db/acelerometro.routing.rdb
quartus/db/acelerometro.rtlv.hdb
quartus/db/acelerometro.rtlv_sg.cdb
quartus/db/acelerometro.rtlv_sg_swap.cdb
quartus/db/acelerometro.sld_design_entry.sci
quartus/db/acelerometro.sld_design_entry_dsc.sci
quartus/db/acelerometro.smart_action.txt
quartus/db/acelerometro.smp_dump.txt
quartus/db/acelerometro.sta.qmsg
quartus/db/acelerometro.sta.rdb
quartus/db/acelerometro.sta_cmp.6_slow_1200mv_85c.tdb
quartus/db/acelerometro.taw.rdb
quartus/db/acelerometro.tis_db_list.ddb
quartus/db/acelerometro.tiscmp.fast_1200mv_0c.ddb
quartus/db/acelerometro.tiscmp.slow_1200mv_0c.ddb
quartus/db/acelerometro.tiscmp.slow_1200mv_85c.ddb
quartus/db/acelerometro.tmw_info
quartus/db/acelerometro.vpr.ammdb
quartus/db/acelerometro.zippleback_io_sim_cache.ff_0c_fast.hsd
quartus/db/acelerometro.zippleback_io_sim_cache.tt_0c_slow.hsd
quartus/db/acelerometro.zippleback_io_sim_cache.tt_85c_slow.hsd
quartus/db/acelerometro_partition_pins.json
quartus/db/altsyncram_kfa1.tdf
quartus/db/altsyncram_ofa1.tdf
quartus/db/cmpr_grb.tdf
quartus/db/cntr_6lg.tdf
quartus/db/cntr_g5f.tdf
quartus/db/prev_cmp_acelerometro.qmsg
quartus/db/shift_taps_0im.tdf
quartus/db/shift_taps_2im.tdf
quartus/incremental_db/compiled_partitions/acelerometro.db_info
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.cmp.ammdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.cmp.cdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.cmp.dfp
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.cmp.hdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.cmp.logdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.cmp.rcfdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.cdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.dpi
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.hbdb.cdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.hbdb.hb_info
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.hbdb.hdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.hbdb.sig
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.hdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.kpt
quartus/incremental_db/compiled_partitions/acelerometro.rrp.hdb
quartus/incremental_db/README
quartus/output_files/acelerometro.asm.rpt
quartus/output_files/acelerometro.done
quartus/output_files/acelerometro.eda.rpt
quartus/output_files/acelerometro.fit.rpt
quartus/output_files/acelerometro.fit.smsg
quartus/output_files/acelerometro.fit.summary
quartus/output_files/acelerometro.flow.rpt
quartus/output_files/acelerometro.jdi
quartus/output_files/acelerometro.map.rpt
quartus/output_files/acelerometro.map.summary
quartus/output_files/acelerometro.pin
quartus/output_files/acelerometro.pof
quartus/output_files/acelerometro.sld
quartus/output_files/acelerometro.sof
quartus/output_files/acelerometro.sta.rpt
quartus/output_files/acelerometro.sta.summary
quartus/simulation/modelsim/acelerometro.sft
quartus/simulation/modelsim/acelerometro.vho
quartus/simulation/modelsim/acelerometro_modelsim.xrf
modelsim/transcript
modelsim/vish_stacktrace.vstf
modelsim/vsim.wlf
modelsim/work/_info
modelsim/work/_lib.qdb
modelsim/work/_lib1_0.qdb
modelsim/work/_lib1_0.qpg
modelsim/work/_lib1_0.qtl
modelsim/work/_lib1_1.qdb
modelsim/work/_lib1_1.qpg
modelsim/work/_lib1_1.qtl
modelsim/work/_lib1_11.qdb
modelsim/work/_lib1_11.qpg
modelsim/work/_lib1_11.qtl
modelsim/work/_lib1_12.qdb
modelsim/work/_lib1_12.qpg
modelsim/work/_lib1_12.qtl
modelsim/work/_lib1_2.qdb
modelsim/work/_lib1_2.qpg
modelsim/work/_lib1_2.qtl
modelsim/work/_lib1_4.qpg
modelsim/work/_lib1_4.qtl
modelsim/work/_lib1_8.qdb
modelsim/work/_lib1_8.qpg
modelsim/work/_lib1_8.qtl
modelsim/work/_vmake
quartus/acelerometro.qpf
quartus/acelerometro.qsf
quartus/acelerometro.qws
quartus/acelerometro.sdc
quartus/db/.cmp.kpt
quartus/db/acelerometro.(0).cnf.cdb
quartus/db/acelerometro.(0).cnf.hdb
quartus/db/acelerometro.(1).cnf.cdb
quartus/db/acelerometro.(1).cnf.hdb
quartus/db/acelerometro.(10).cnf.cdb
quartus/db/acelerometro.(10).cnf.hdb
quartus/db/acelerometro.(11).cnf.cdb
quartus/db/acelerometro.(11).cnf.hdb
quartus/db/acelerometro.(12).cnf.cdb
quartus/db/acelerometro.(12).cnf.hdb
quartus/db/acelerometro.(13).cnf.cdb
quartus/db/acelerometro.(13).cnf.hdb
quartus/db/acelerometro.(14).cnf.cdb
quartus/db/acelerometro.(14).cnf.hdb
quartus/db/acelerometro.(15).cnf.cdb
quartus/db/acelerometro.(15).cnf.hdb
quartus/db/acelerometro.(2).cnf.cdb
quartus/db/acelerometro.(2).cnf.hdb
quartus/db/acelerometro.(3).cnf.cdb
quartus/db/acelerometro.(3).cnf.hdb
quartus/db/acelerometro.(4).cnf.cdb
quartus/db/acelerometro.(4).cnf.hdb
quartus/db/acelerometro.(5).cnf.cdb
quartus/db/acelerometro.(5).cnf.hdb
quartus/db/acelerometro.(6).cnf.cdb
quartus/db/acelerometro.(6).cnf.hdb
quartus/db/acelerometro.(7).cnf.cdb
quartus/db/acelerometro.(7).cnf.hdb
quartus/db/acelerometro.(8).cnf.cdb
quartus/db/acelerometro.(8).cnf.hdb
quartus/db/acelerometro.(9).cnf.cdb
quartus/db/acelerometro.(9).cnf.hdb
quartus/db/acelerometro.asm.qmsg
quartus/db/acelerometro.asm.rdb
quartus/db/acelerometro.asm_labs.ddb
quartus/db/acelerometro.cmp.bpm
quartus/db/acelerometro.cmp.cdb
quartus/db/acelerometro.cmp.hdb
quartus/db/acelerometro.cmp.idb
quartus/db/acelerometro.cmp.logdb
quartus/db/acelerometro.cmp.rdb
quartus/db/acelerometro.cmp_merge.kpt
quartus/db/acelerometro.db_info
quartus/db/acelerometro.eda.qmsg
quartus/db/acelerometro.fit.qmsg
quartus/db/acelerometro.hier_info
quartus/db/acelerometro.hif
quartus/db/acelerometro.lpc.html
quartus/db/acelerometro.lpc.rdb
quartus/db/acelerometro.lpc.txt
quartus/db/acelerometro.map.ammdb
quartus/db/acelerometro.map.bpm
quartus/db/acelerometro.map.cdb
quartus/db/acelerometro.map.hdb
quartus/db/acelerometro.map.kpt
quartus/db/acelerometro.map.logdb
quartus/db/acelerometro.map.qmsg
quartus/db/acelerometro.map.rdb
quartus/db/acelerometro.map_bb.cdb
quartus/db/acelerometro.map_bb.hdb
quartus/db/acelerometro.map_bb.logdb
quartus/db/acelerometro.pplq.rdb
quartus/db/acelerometro.pre_map.hdb
quartus/db/acelerometro.root_partition.map.reg_db.cdb
quartus/db/acelerometro.routing.rdb
quartus/db/acelerometro.rtlv.hdb
quartus/db/acelerometro.rtlv_sg.cdb
quartus/db/acelerometro.rtlv_sg_swap.cdb
quartus/db/acelerometro.sld_design_entry.sci
quartus/db/acelerometro.sld_design_entry_dsc.sci
quartus/db/acelerometro.smart_action.txt
quartus/db/acelerometro.smp_dump.txt
quartus/db/acelerometro.sta.qmsg
quartus/db/acelerometro.sta.rdb
quartus/db/acelerometro.sta_cmp.6_slow_1200mv_85c.tdb
quartus/db/acelerometro.taw.rdb
quartus/db/acelerometro.tis_db_list.ddb
quartus/db/acelerometro.tiscmp.fast_1200mv_0c.ddb
quartus/db/acelerometro.tiscmp.slow_1200mv_0c.ddb
quartus/db/acelerometro.tiscmp.slow_1200mv_85c.ddb
quartus/db/acelerometro.tmw_info
quartus/db/acelerometro.vpr.ammdb
quartus/db/acelerometro.zippleback_io_sim_cache.ff_0c_fast.hsd
quartus/db/acelerometro.zippleback_io_sim_cache.tt_0c_slow.hsd
quartus/db/acelerometro.zippleback_io_sim_cache.tt_85c_slow.hsd
quartus/db/acelerometro_partition_pins.json
quartus/db/altsyncram_kfa1.tdf
quartus/db/altsyncram_ofa1.tdf
quartus/db/cmpr_grb.tdf
quartus/db/cntr_6lg.tdf
quartus/db/cntr_g5f.tdf
quartus/db/prev_cmp_acelerometro.qmsg
quartus/db/shift_taps_0im.tdf
quartus/db/shift_taps_2im.tdf
quartus/incremental_db/compiled_partitions/acelerometro.db_info
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.cmp.ammdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.cmp.cdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.cmp.dfp
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.cmp.hdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.cmp.logdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.cmp.rcfdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.cdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.dpi
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.hbdb.cdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.hbdb.hb_info
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.hbdb.hdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.hbdb.sig
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.hdb
quartus/incremental_db/compiled_partitions/acelerometro.root_partition.map.kpt
quartus/incremental_db/compiled_partitions/acelerometro.rrp.hdb
quartus/incremental_db/README
quartus/output_files/acelerometro.asm.rpt
quartus/output_files/acelerometro.done
quartus/output_files/acelerometro.eda.rpt
quartus/output_files/acelerometro.fit.rpt
quartus/output_files/acelerometro.fit.smsg
quartus/output_files/acelerometro.fit.summary
quartus/output_files/acelerometro.flow.rpt
quartus/output_files/acelerometro.jdi
quartus/output_files/acelerometro.map.rpt
quartus/output_files/acelerometro.map.summary
quartus/output_files/acelerometro.pin
quartus/output_files/acelerometro.pof
quartus/output_files/acelerometro.sld
quartus/output_files/acelerometro.sof
quartus/output_files/acelerometro.sta.rpt
quartus/output_files/acelerometro.sta.summary
quartus/simulation/modelsim/acelerometro.sft
quartus/simulation/modelsim/acelerometro.vho
quartus/simulation/modelsim/acelerometro_modelsim.xrf
modelsim/transcript
modelsim/vish_stacktrace.vstf
